USE [master]
GO
/****** Object:  Database [DetailingCenter]    Script Date: 30.04.2021 21:36:33 ******/
CREATE DATABASE [DetailingCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DetailingCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DetailingCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DetailingCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DetailingCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DetailingCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DetailingCenter]
GO
/****** Object:  Table [dbo].[CarColor]    Script Date: 30.04.2021 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarColor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CarColor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarMark]    Script Date: 30.04.2021 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarMark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CarMark] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModel]    Script Date: 30.04.2021 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StartYear] [nvarchar](4) NOT NULL,
	[CarMarkId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
 CONSTRAINT [PK_CarModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 30.04.2021 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SurName] [nvarchar](50) NOT NULL,
	[GenderCode] [nvarchar](1) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[LastServiceId] [int] NULL,
	[LastVisit] [date] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 30.04.2021 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SurName] [nvarchar](50) NOT NULL,
	[GenderCode] [nvarchar](1) NOT NULL,
	[DateOfEmployment] [date] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 30.04.2021 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Code] [nvarchar](1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 30.04.2021 21:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[CarPhotoPath] [nvarchar](1000) NULL,
	[StatusId] [int] NOT NULL,
	[CarColorId] [int] NOT NULL,
	[DateOfService] [date] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 30.04.2021 21:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 30.04.2021 21:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ServiceTypeId] [int] NOT NULL,
	[Duration] [decimal](5, 2) NOT NULL,
	[Cost] [decimal](10, 2) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Service_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 30.04.2021 21:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarColor] ON 

INSERT [dbo].[CarColor] ([Id], [Name]) VALUES (1, N'White')
INSERT [dbo].[CarColor] ([Id], [Name]) VALUES (2, N'Red')
INSERT [dbo].[CarColor] ([Id], [Name]) VALUES (3, N'Black')
SET IDENTITY_INSERT [dbo].[CarColor] OFF
SET IDENTITY_INSERT [dbo].[CarMark] ON 

INSERT [dbo].[CarMark] ([Id], [Name]) VALUES (1, N'Acura')
INSERT [dbo].[CarMark] ([Id], [Name]) VALUES (2, N'Alfa Romeo')
INSERT [dbo].[CarMark] ([Id], [Name]) VALUES (3, N'Aston Martin')
SET IDENTITY_INSERT [dbo].[CarMark] OFF
SET IDENTITY_INSERT [dbo].[CarModel] ON 

INSERT [dbo].[CarModel] ([Id], [Name], [StartYear], [CarMarkId], [ClassId]) VALUES (1, N'Silvia', N'1992', 60, 1)
INSERT [dbo].[CarModel] ([Id], [Name], [StartYear], [CarMarkId], [ClassId]) VALUES (2, N'Impreza 22B', N'1993', 78, 1)
SET IDENTITY_INSERT [dbo].[CarModel] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [Name], [SurName], [GenderCode], [Phone], [Email], [LastServiceId], [LastVisit]) VALUES (1, N'Chase', N'Anderson', N'M', N'79073400146', N'oooo@outlook.com', 2, CAST(N'2011-07-25' AS Date))
INSERT [dbo].[Client] ([Id], [Name], [SurName], [GenderCode], [Phone], [Email], [LastServiceId], [LastVisit]) VALUES (2, N'Jackson', N'Ward', N'M', N'74775861821', N'hr6zdl@yandex.ru', 3, CAST(N'2019-08-04' AS Date))
INSERT [dbo].[Client] ([Id], [Name], [SurName], [GenderCode], [Phone], [Email], [LastServiceId], [LastVisit]) VALUES (3, N'Justin', N'Lewis', N'F', N'78615047218', N'kaft93x@outlook.com', 4, CAST(N'2010-06-23' AS Date))
SET IDENTITY_INSERT [dbo].[Client] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Name], [SurName], [GenderCode], [DateOfEmployment]) VALUES (1, N'Patrick', N'Bryant', N'M', CAST(N'2015-02-13' AS Date))
INSERT [dbo].[Employee] ([Id], [Name], [SurName], [GenderCode], [DateOfEmployment]) VALUES (2, N'Diego', N'Perry', N'M', CAST(N'2015-04-17' AS Date))
INSERT [dbo].[Employee] ([Id], [Name], [SurName], [GenderCode], [DateOfEmployment]) VALUES (3, N'Luke', N'Foster', N'M', CAST(N'2015-04-20' AS Date))
SET IDENTITY_INSERT [dbo].[Employee] OFF
INSERT [dbo].[Gender] ([Code], [Name]) VALUES (N'F', N'Female')
INSERT [dbo].[Gender] ([Code], [Name]) VALUES (N'M', N'Male')
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [EmployeeId], [ClientId], [ServiceId], [CarId], [CarPhotoPath], [StatusId], [CarColorId], [DateOfService]) VALUES (3, 4, 3, 6, 2, N'/Resources/OrderPhotoes/1.jpg', 3, 5, CAST(N'2021-04-11' AS Date))
INSERT [dbo].[Order] ([Id], [EmployeeId], [ClientId], [ServiceId], [CarId], [CarPhotoPath], [StatusId], [CarColorId], [DateOfService]) VALUES (19, 2, 5, 4, 1, N'/Resources/OrderPhotoes/1637536985660736143.png', 3, 3, CAST(N'2021-04-11' AS Date))
INSERT [dbo].[Order] ([Id], [EmployeeId], [ClientId], [ServiceId], [CarId], [CarPhotoPath], [StatusId], [CarColorId], [DateOfService]) VALUES (20, 2, 5, 2, 2, N'/Resources/OrderPhotoes/fd5fc6da90257b913b0f0da0cf0b3e0d689168be637536988467592012.png', 1, 2, CAST(N'2021-04-11' AS Date))
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (1, N'In Progress')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (2, N'In Queue ')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (3, N'Ready')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [Name], [ServiceTypeId], [Duration], [Cost], [Description]) VALUES (1, N'Full Basic Detail', 1, CAST(3.00 AS Decimal(5, 2)), CAST(159.00 AS Decimal(10, 2)), N'Interior: Carpet Shampoo & ExtractedSeat Shampoo & ExtractedLeather/Vinyl/Plastic—Cleaned and Conditioned Headliner Cleaned—Vents CleanedExterior: Vehicle Washed (Hand Wash Extra)Professional Wax applied with DA Orbital MachineWheel Wells DressedRims CleanedExterior Trim ConditionedTire Shine AppliedTire Pressure + Washer Fluid Checked and Added (Upon Request)')
SET IDENTITY_INSERT [dbo].[Service] OFF
SET IDENTITY_INSERT [dbo].[ServiceType] ON 

INSERT [dbo].[ServiceType] ([Id], [Name]) VALUES (1, N'Full Vehicle Details')
INSERT [dbo].[ServiceType] ([Id], [Name]) VALUES (2, N'Exterior Detail')
INSERT [dbo].[ServiceType] ([Id], [Name]) VALUES (3, N'Interior Detail')
SET IDENTITY_INSERT [dbo].[ServiceType] OFF
ALTER TABLE [dbo].[CarModel]  WITH CHECK ADD  CONSTRAINT [FK_CarModel_CarMark] FOREIGN KEY([CarMarkId])
REFERENCES [dbo].[CarMark] ([Id])
GO
ALTER TABLE [dbo].[CarModel] CHECK CONSTRAINT [FK_CarModel_CarMark]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Gender] FOREIGN KEY([GenderCode])
REFERENCES [dbo].[Gender] ([Code])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Gender]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Service] FOREIGN KEY([LastServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Service]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Gender] FOREIGN KEY([GenderCode])
REFERENCES [dbo].[Gender] ([Code])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Gender]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_CarColor] FOREIGN KEY([CarColorId])
REFERENCES [dbo].[CarColor] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_CarColor]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_CarModel] FOREIGN KEY([CarId])
REFERENCES [dbo].[CarModel] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_CarModel]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatus] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Service]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_ServiceType] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceType] ([Id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_ServiceType]
GO
USE [master]
GO
